body {
    font-family: Roboto;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    outline: none !important;
}

a, a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
}
.h2-head {
    margin: 0px;
    padding: 11px 0px;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
}
.h2-head1 {
    margin: 0px;
    padding: 0px;
    font-size: 22px;
    color: #133246;
    font-weight: bold;
}
.head-content {
    margin: 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #e66a11;
    display: table;
    width: 100%;
}

.body-container {
    padding: 0px;
    height: 100vh;
    overflow: auto;
    display: block;
    position: relative;
    background-image: url(../images/bg-pattern1.png);
}
.header-container {
    margin: 0px;
    padding: 0px;
    /*background-color: #FFFFFF;
    border-bottom: 3px solid #007e63;*/
    height: 46px;
    position: relative;
    background-image: url(../images/dot-connect-pattern.png);
    background-color: #11445d;
    background-position: right -40px;
    background-repeat: no-repeat;
}

.logo-container {
    height: 100%;
    margin: 0px;
    padding: 9px 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

    .logo-container .logo {
        height: 100%;
        position: relative;
	display: none;
    }

.header-right {
    height: 46px;
    padding: 9px 10px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.section-container {
    height: calc(100% - 46px);
    padding: 5px 0px;
    margin: 0px;
}

/*Report Container*/
.report-table-container {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.report-table-inner-container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: 1px solid #b0c4cc;
    background-color: rgba(266,266,266,0.7);
}

.table-container {
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
    table-layout: fixed;
}

    .table-container > thead {
        margin: 0px;
        padding: 0px;
    }

        .table-container > thead > tr {
            position: sticky;
            top: 0px;
        }

    .table-container > tbody > tr:nth-of-type(even) {
        background-color: #ecf2f4;
    }

    .table-container > thead > tr > th {
        font-size: 13px;
        color: #FFFFFF;
        margin: 0px;
        padding: 10px 20px 10px 10px;
        background-color: #1a2d34;
        font-weight: 500;
        position: relative;
        white-space: nowrap;
    }

        .table-container > thead > tr > th > h4 {
            font-size: 13px;
            margin: 0px;
        }

    .table-container > tbody {
        margin: 0px;
        padding: 0px;
    }

        .table-container > tbody > tr {
        }

            .table-container > tbody > tr > td {
                margin: 0px;
                padding: 5px 10px;
                font-size: 13px;
                color: #252525;
                font-weight: 500;
                white-space: nowrap;
                vertical-align: top;
            }
                .table-container > tbody > tr > td.wrap-text {
                    white-space: pre-wrap;
                }
                .table-container > tbody > tr > td .action-btn-container {
                    margin: 0px auto;
                    display: table;
                    padding: 0px;
                }

                    .table-container > tbody > tr > td .action-btn-container li {
                        list-style: none;
                        display: table-cell;
                        padding: 0px 10px;
                        line-height: 15px;
                    }

                        .table-container > tbody > tr > td .action-btn-container li i {
                            cursor: pointer;
                            font-size: 16px;
                        }

                            .table-container > tbody > tr > td .action-btn-container li i.edit-btn {
                                color: #008059;
                            }

                            .table-container > tbody > tr > td .action-btn-container li i.delete-btn {
                                color: #FF000B;
                            }
/*Report Container*/
/*Column Container*/
.column-container {
    display: flex;
    margin: 0px -10px;
    width: calc(100% + 20px);
}
    .column-container .column-content {
        width: 50%;
        padding: 0px 10px;
        position: relative;
    }
        .column-container .column-content:after {
            content: "";
            margin: 0px;
            padding: 0px;
            width: 1px;
            height: 100%;
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: #b0c4cc;
        }
        .column-container .column-content:last-child:after {
            display: none;
        }
/*Column Container*/
/*form design*/
.form-body-container {
    margin: 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #cccccc;
}

.form-container {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: table;
    width: calc(100%);
}

    .form-container > li {
        margin: 0px;
        padding-bottom: 15px;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

        .form-container > li > .input-group {
            margin: 0px;
            padding: 0px;
            width: 100%;
        }

            .form-container > li > .input-group > .label-field {
                margin: 0px;
                padding: 0px;
            }

                .form-container > li > .input-group > .label-field > label {
                    margin: 0px;
                    padding: 0px;
                    font-size: 13px;
                    color: #343d48;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    white-space: nowrap;
                }

            .form-container > li > .input-group > .input-field {
                position: relative;
                margin: 0px;
                padding: 0px;
            }

                .form-container > li > .input-group > .input-field > .input-field-icon {
                }

                .form-container > li > .input-group > .input-field > .input-field-icon {
                    position: absolute;
                    right: 10px;
                    top: 8px;
                    font-size: 14px;
                    color: #e2e2e2;
                    transition: ease 0.5s;
                    -webkit-transition: ease 0.5s;
                }

                .form-container > li > .input-group > .input-field.input-icon .input-text,
                .form-container > li > .input-group > .input-field.input-icon .input-password {
                    padding-right: 32px;
                }
            .form-container > li > .input-group.flex {
                display: flex;
            }

                .form-container > li > .input-group.flex > .label-field {
                    padding-top: 5px;
                    padding-right: 10px;
                }

                    .form-container > li > .input-group.flex > .label-field > label {
                        white-space: nowrap;
                    }


    .form-container.flex {
        display: flex;
    }
    .form-container.flex > li {
        padding-bottom: 0px;
    }
    .form-container.flex > li > .input-group.flex {
        display: flex;
    }
        .form-container.flex > li > .input-group.flex > .label-field {
            padding: 6px 10px 0px 0px;
        }
        .form-container.flex > li > .input-group.flex > .input-field {
            width: 100%;
        }
/*form design*/

/*form input Field*/
.add-btn {
    border: none;
    padding: 3px 10px;
    border-radius: 3px;
    color: #FFF;
    font-size: 13px;
    font-weight: 300;
    transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    margin: 0px auto;
    height: 28px;
    line-height: 18px;
}
    .add-btn i {
        font-size: 12px;
        margin-right: 5px;
    }
.input-text {
    margin: 0px;
    padding: 5px 5px 5px 5px;
    padding-right: 5px;
    width: 100%;
    border: 1px solid #cccccc;
    height: 32px;
    transition: ease 0.2s;
    -webkit-transition: ease 0.2s;
    color: #484848;
    font-size: 13px;
}
.input-select {
    margin: 0px;
    padding: 5px 5px 5px 5px;
    padding-right: 5px;
    width: 100%;
    border: 1px solid #cccccc;
    height: 32px;
    transition: ease 0.2s;
    -webkit-transition: ease 0.2s;
    color: #484848;
    font-size: 13px;
}
.input-textarea {
    margin: 0px;
    padding: 5px 5px 5px 5px;
    padding-right: 5px;
    width: 100%;
    border: 1px solid #cccccc;
    height: 32px;
    transition: ease 0.2s;
    -webkit-transition: ease 0.2s;
    color: #484848;
    font-size: 13px;
    height: 200px;
	resize: none;
}
    .input-text:hover, .input-text:focus,
    .input-textarea:hover, .input-textarea:focus,
    .input-password:hover, .input-password:focus,
    .input-select:hover, .input-select:focus {
        border-color: #00925b;
    }

    .input-text.required,
    .input-select.required,
    .input-textarea.required {
        border-color: #FF000B;
    }

.input-btn {
    border: none;
    padding: 3px 10px;
    border-radius: 3px;
    color: #FFF;
    font-size: 13px;
    font-weight: 300;
    transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    margin: 0px auto;
    height: 32px;
    min-width: 60px;
}
/*form input Field*/
.checkbox-container {
    margin: 0px;
    padding: 0px;
    height: 20px;
}

    .checkbox-container label {
        margin: 0px;
        padding: 2px 0px;
        position: relative;
        font-size: 0px;
        border: 1px solid #cccccc;
        width: 20px;
        height: 20px;
        background-color: #FFFFFF;
        text-align: center;
        color: transparent;
        border-radius: 3px;
        cursor: pointer;
    }

        .checkbox-container label:before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: relative;
            content: "\f00c";
            margin: 0px;
            padding: 0px;
            font-size: 10px;
        }

    .checkbox-container .input-checkbox:checked + label {
        background-color: #11232a;
        border: 1px solid #11232a;
        color: #FFFFFF;
    }
/*Pop Up*/
.popup-body-container {
    margin: 0px;
    padding: 0px;
    position: fixed;
    background-color: rgb(4 18 31 / 85%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

    .popup-body-container > .popup-container {
        margin: 0px;
        padding: 0px;
        position: absolute;
        width: 800px;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        background-color: #FFFFFF;

    }

        .popup-body-container > .popup-container > .popup-header {
            margin: 0px;
            padding: 15px 15px 15px 15px;
            background-image: url(../images/dot-connect-pattern.png);
            background-position: right -40px;
            background-repeat: no-repeat;
        }

            .popup-body-container > .popup-container > .popup-header.add-popheader {
                background-color: #00925b;
            }
            .popup-body-container > .popup-container > .popup-header.edit-popheader {
                background-color: #0672a7;
            }
            .popup-body-container > .popup-container > .popup-header.delete-popheader {
                background-color: #d64c4c;
            }




            .popup-body-container > .popup-container > .popup-header h4 {
                margin: 0px;
                padding: 0px;
                font-size: 18px;
                color: #FFFFFF;
                font-weight: normal;
            }

            .popup-body-container > .popup-container > .popup-header .close-pop-btn {
                position: absolute;
                right: 15px;
                top: 15px;
                color: #FFFFFF;
                font-weight: normal;
                font-style: normal;
                font-size: 14px;
                font-family: arial;
                cursor: pointer;
                opacity: 0.5;
                transition: ease 0.2s;
                -webkit-transition: ease 0.2s;
            }

                .popup-body-container > .popup-container > .popup-header .close-pop-btn:hover {
                    opacity: 1;
                }

        .popup-body-container > .popup-container > .popup-body {
            margin: 0px;
            padding: 10px;
            min-height: 280px;
            max-height: calc(100vh - 88px);
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            overflow: auto;
        }

        .popup-body-container > .popup-container > .popup-footer {
            margin: 0px;
            padding: 0px;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            background-color: #e7ecf1;
        }


.popup-btn-container {
    margin: 0px;
    padding: 5px 5px;
    display: table;
    width: 100%;
}

    .popup-btn-container > li {
        margin: 0px;
        padding: 0px 0px 0px 10px;
        list-style: none;
    }


.msgpopuptxt {
    margin: 0px;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    color: #0f2128;
    font-weight: 300;
}
    .msgpopuptxt strong {
        font-weight: 500;
        font-size: 13px;
        color: #484848;
    }
.msgpopuptxt1 {
    margin: 0px;
    padding: 40px 10px;
    text-align: center;
    font-size: 20px;
    color: #0f2128;
    font-weight: 300;
}
/*Pop Up*/

/*button color*/
.blue-btn {
    background-color: #2A5E9C;
}

    .blue-btn:hover {
        background-color: #123967;
    }

.green-btn {
    background-color: #00925b;
}

    .green-btn:hover {
        background-color: #00723b;
    }


.brown-btn {
    background-color: #9f7a32;
}

    .brown-btn:hover {
        background-color: #986603;
    }
.red-btn {
    background-color: #e14343;
}

    .red-btn:hover {
        background-color: #d13333;
    }
/*button color*/
.align-center {
    text-align: center;
}
